<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406109657730-b2pc3s2kasii5s05octs9812184q79fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406109657730-b2pc3s2kasii5s05octs9812184q79fq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4_2cTiytrKukbAMwpN5m3XPaHyAg7AmU</string>
	<key>GCM_SENDER_ID</key>
	<string>406109657730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.aws.solution.ModerneShopping</string>
	<key>PROJECT_ID</key>
	<string>clickstream-uat-devicefarm</string>
	<key>STORAGE_BUCKET</key>
	<string>clickstream-uat-devicefarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406109657730:ios:879923e52318a6e2bd729b</string>
</dict>
</plist>